*.class
/xrr.jar
/deploy/xrr.jar
/deploy/Jama-1.0.3.jar
/deploy/atomic_masses.txt
/deploy/default.layers
/deploy/default.properties
/deploy/javafastcomplex.jar
/deploy/javaxmlfrag.jar
/deploy/jfreechart-1.0.1.jar
/deploy/lib/
/deploy/sf/
/.tstamp
/xrr-bin.zip
/xrr-bin/
/xrr-src.zip
/xrr-src/
